<!DOCTYPE html>
<html ng-app="ListaDeCosasPorHacer-App">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style>
		.tachado{
			text-decoration: line-through;
		}
	</style>
</head>
<body>
	
	<!-- {{5-3}}  Debería verse el número 2 como resultado en el navegador -->
	<div ng-controller="Controlador_Principal">
		<form ng-submit="agregarCosa()">
			<input type="text" ng-model="cosaNueva">
			<input type="submit" value="¡Agregar!">
		</form>

		<ul>
			<li ng-repeat="cosa in listaDeCosas">
				<!-- Usamos la directiva de Angular ng-checked para representar el estado de cada tarea, por eso la almacenamos como valor booleano (true o false). Así la caja se mostrará "checkeada" cuando el estado en el objeto de ListaDeCosas sea igual a true -->
	
				<!-- El valor de $index se refiere a la posición del elemento en el array, así emparejamos el checkbox con el texto "tarea" -->

				<input type="checkbox" id="{{$index}}" ng-checked="{{cosa.completada}}" ng-model="cosa_$index" ng-change="cambiarEstado($index)">

				<!-- Ahora debemos apuntar a la propiedad "tarea" de cada objeto cosa para obtener el valor de texto que la representa -->
				<label for="{{$index}}" ng-class="{'tachado': cosa.completada}">{{cosa.tarea}}</label>
				
			</li>
		</ul>
	</div>

	<script src="./lib/angular.js"></script>

	<script src="./scripts/app.js"></script>
</body>
</html>